.grid-container {
    background-color: black;
}

.product-grid, .women-grid, .men-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.2fr));
    gap: 20px;
    /* padding: 20px; */
    max-width: 1500px; /* Set a maximum width */
    margin: 0 auto; /* Center the grid */
    align-content: center;
    justify-content: center;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: background-color 0.3s, transform 0.3s;
}

.product-card:hover {
    background-color: #f0f0f0;
    transform: translateX(-5px);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-details {
    margin-top: 20px;
}

.product-name {
    font-size: 20px;
    margin: 0;
}

.seller-name {
    font-size: 16px;
    margin: 5px 0;
}

.price {
    font-size: 18px;
    margin: 5px 0;
    color: #007bff;
}

.description {
    margin: 10px 0;
}

.attributes {
    list-style: none;
    padding: 0;
    margin: 0;
}

.attributes li {
    margin: 5px 0;
}

.attributes li strong {
    font-weight: bold;
}

.add-to-cart-button {
    margin-top: auto; /* Align button to the bottom */
    background-color: lightgray;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    width: 100%;
}

.add-to-cart-button:hover {
    background-color: #0056b3;
}
